Repository stride3d/stride-docs, pull requests merged in 2024-06, with the labels that each got.

#296 Misc fixes
  BuildDocs.ps1
  en/manual/engine/file-system.md
  en/manual/files-and-folders/distribute-a-game.md
  en/manual/get-started/launch-stride.md
  en/manual/get-started/visual-studio-extension.md
  en/manual/nuget/create-packages.md
  en/manual/platforms/index.md
  en/manual/platforms/linux/setup-and-requirements.md
  en/manual/requirements/index.md
  en/manual/troubleshooting/stride-doesnt-run.md
  jp/manual/files-and-folders/distribute-a-game.md
  jp/manual/requirements/index.md
Labels: content

#298 fix: Bullet point corrected and grammar improved
  en/manual/requirements/index.md
Labels: manual

#299 fix: update setup-and-requirements.md
  en/manual/platforms/linux/setup-and-requirements.md
Labels: manual

#300 Update custom-audio-data.md
  en/manual/audio/custom-audio-data.md
Labels: manual

#302 Initiating deployment of latest docs updates to staging
  en/manual/audio/custom-audio-data.md
  en/manual/engine/entity-component-system/flexible-processing.md
  en/manual/index.md
  en/manual/platforms/linux/setup-and-requirements.md
  en/manual/requirements/index.md
  en/manual/toc.yml
Labels: deployment

#303 fix: Update flexible-processing.md
  en/manual/engine/entity-component-system/flexible-processing.md
Labels: manual

#304 Initiating deployment of latest docs updates to staging
  en/manual/engine/entity-component-system/flexible-processing.md
Labels: deployment
