Repository stride3d/stride-docs, pull requests merged in 2024-12, with the labels that each got.

#353 docs: Add Extensibility section and C# Libraries guide
  en/manual/extensibility/csharp-libraries.md
  en/manual/extensibility/index.md
  en/manual/toc.yml
Labels: manual

#360 Deploy latest documentation updates to staging
  en/manual/scripts/custom-assets.md
  en/manual/scripts/index.md
  en/manual/scripts/media/template-directory-example.png
  en/manual/scripts/media/template-result.png
  en/manual/stride-for-unity-developers/index.md
  en/manual/toc.yml
Labels: deployment

#363 docs: Warning message added across all Bullet pages
  en/manual/physics-bullet/collider-shapes.md
  en/manual/physics-bullet/colliders.md
  en/manual/physics-bullet/constraints.md
  en/manual/physics-bullet/create-a-bouncing-ball.md
  en/manual/physics-bullet/fix-physics-jitter.md
  en/manual/physics-bullet/kinematic-rigid-bodies.md
  en/manual/physics-bullet/raycasting.md
  en/manual/physics-bullet/rigid-bodies.md
  en/manual/physics-bullet/script-a-trigger.md
  en/manual/physics-bullet/simulation.md
  en/manual/physics-bullet/static-colliders.md
  en/manual/physics-bullet/triggers.md
  en/manual/physics-bullet/tutorials.md
Labels: manual

#364 docs: Update physics engine links to Bepu Physics
  en/manual/physics/index.md
Labels: manual

#365 feat: Adds a quick option to run a script without PDF generation
  run-skip-pdf.bat
Labels: site-generator

#366 Simplify example in virtual-buttons.md
  en/manual/input/virtual-buttons.md
Labels: manual

#369 fix: Changing project location
  en/docfx.json
Labels: site-generator

#371 ci-cd: Test build added
  .github/workflows/stride-docs-test-build.yml
Labels: ci-cd
