Repository stride3d/stride-docs, pull requests merged in 2025-04, with the labels that each got.

#398 feat: Modifying material parameters at runtime
  en/manual/graphics/materials/materials-for-developers.md
  en/manual/graphics/materials/media/runtime-param-modif-ex.png
  en/manual/graphics/materials/media/runtime-param-modif-locals.png
Labels: manual

#399 Deploy latest documentation updates to staging
  en/contributors/documentation/major-release-workflow.md
  en/manual/animation/additive-animation.md
  en/manual/animation/animation-scripts.md
  en/manual/animation/custom-blend-trees.md
  en/manual/animation/import-animations.md
  en/manual/animation/index.md
  en/manual/animation/model-node-links.md
  en/manual/animation/preview-animations.md
  en/manual/animation/procedural-animation.md
  en/manual/animation/set-up-animations.md
  en/manual/files-and-folders/distribute-a-game.md
  en/manual/files-and-folders/media/open-terminal.png
  en/manual/files-and-folders/media/project-folder.png
  en/manual/files-and-folders/media/publish-project-dropdown.png
  en/manual/files-and-folders/media/publish-project.png
  en/manual/files-and-folders/media/publish-self-contained.png
  en/manual/files-and-folders/media/publish-view.png
  en/manual/game-studio/prefabs/nested-prefabs.md
  en/manual/game-studio/prefabs/override-prefab-properties.md
  en/manual/graphics/materials/materials-for-developers.md
  en/manual/graphics/materials/media/runtime-param-modif-ex.png
  en/manual/graphics/materials/media/runtime-param-modif-locals.png
  en/manual/index.md
  en/manual/navigation/index.md
  en/manual/particles/ribbons-and-trails.md
  en/manual/physics/create-a-bouncing-ball.md
  en/manual/physics/script-a-trigger.md
  en/manual/scripts/best-practice.md
  en/manual/scripts/create-a-model-from-code.md
  en/manual/sprites/use-sprites.md
Labels: deployment

#400 fix: Minor content updates
  en/manual/graphics/materials/materials-for-developers.md
  en/manual/index.md
Labels: manual

#401 Deploy latest documentation updates to production
  en/contributors/documentation/major-release-workflow.md
  en/manual/animation/additive-animation.md
  en/manual/animation/animation-scripts.md
  en/manual/animation/custom-blend-trees.md
  en/manual/animation/import-animations.md
  en/manual/animation/index.md
  en/manual/animation/model-node-links.md
  en/manual/animation/preview-animations.md
  en/manual/animation/procedural-animation.md
  en/manual/animation/set-up-animations.md
  en/manual/files-and-folders/distribute-a-game.md
  en/manual/files-and-folders/media/open-terminal.png
  en/manual/files-and-folders/media/project-folder.png
  en/manual/files-and-folders/media/publish-project-dropdown.png
  en/manual/files-and-folders/media/publish-project.png
  en/manual/files-and-folders/media/publish-self-contained.png
  en/manual/files-and-folders/media/publish-view.png
  en/manual/game-studio/prefabs/nested-prefabs.md
  en/manual/game-studio/prefabs/override-prefab-properties.md
  en/manual/graphics/materials/materials-for-developers.md
  en/manual/graphics/materials/media/runtime-param-modif-ex.png
  en/manual/graphics/materials/media/runtime-param-modif-locals.png
  en/manual/index.md
  en/manual/navigation/index.md
  en/manual/particles/ribbons-and-trails.md
  en/manual/physics/create-a-bouncing-ball.md
  en/manual/physics/script-a-trigger.md
  en/manual/scripts/best-practice.md
  en/manual/scripts/create-a-model-from-code.md
  en/manual/sprites/use-sprites.md
Labels: deployment

#403 feat: Release notes updated with new links
  en/ReleaseNotes/ReleaseNotes.md
Labels: release-notes

#404 feat: custom-assets, cover cloning behavior and control, document attribute purpose
  en/manual/scripts/custom-assets.md
Labels: manual

#405 Update toc.yml - Plural word added
  en/manual/toc.yml
Labels: manual
